{% extends "CRGSBRBundle:Home:accueil.html.twig" %}

{% block title %}
    Statistiques des rapports de visites
{% endblock %}

{% block body %}

    <h3 class="text-center">Statistiques de vos rapports</h3>

    {% if mesRapports is defined %}
        <hr> 
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Praticiens</th>
                        <th>Nombre de rapports</th>
                        <th>Date du dernier rapport</th>
                    </tr>
                </thead>
                {% for r in mesRapports %}
                    <tr>
                        <td class="text-primary"><strong> {{ r.nomMedecin }}<strong></td>
                                    <td> {{ r.nbRapport}}</td>
                                    <td> {{ r.date}}</td>
                                    </tr>
                                {% endfor %}
                                </table>
                                </div>
                            {% endif %}



                        {% endblock %}